.contact {
  width: 100vw;
  height: 100vh;
  background-color: black;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .slider {
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .imgcontainer {
        overflow: hidden;
        width: 70vw;
        height: 60vh;
        border-radius: 5px;
        background-color: white;
      }
    }
  }
}

.imgleft {
  transform: rotate(180deg);
  width: 50px;
  cursor: pointer;
  position: absolute;
  left: 10vw;
  z-index: 2;
}

.imgright {
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 10vw;
  z-index: 2;
}
